<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'qna:index' %}">QnA Home</a>
            </li>
            <li>
                <a href="{% url 'qna:create' %}">New Qna</a>
            </li>

            {% comment %} <li>
                <a href="{% url 'blog:index' %}">Blog(Student) Home</a>
            </li>
            <li>
                <a href="{% url 'blog:create' %}">New Blog(Student)</a>
            </li> {% endcomment %}
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>