<h2>내가 좋아한 글 목록</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">좋아요 개수</th>
      </tr>
    </thead>
    <tbody>
      {% for posting in profile_user.like_postings.all %}
      <tr>
        <th scope="row">{{ posting.pk }}</th>
        <td><a href="{% url 'blog:posting_detail' posting.pk %}">{{ posting.title }}</a></td>
        <td><a href="{% url 'accounts:profile' posting.user %}">{{ posting.user }}</a></td>
        <td>{{ posting.like_users.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
